---
import Main from '../layouts/main.astro'
import Desktop from '../layouts/desktop.astro';
import Login from '../layouts/login_window.astro';
import Icon from '../components/user_icon.astro';
import Prompt from '../components/pasword_prompt.astro';
---

<Main>
    <Desktop>
        <p class="disclaimer">Wszystkie treści prezentowane na tej stronie są fikcyjne i mają charakter edukacyjny oraz artystyczny.</p>
        <p class="disclaimer">- Strona nie ma na celu promowania ani wspierania jakichkolwiek działań niezgodnych z prawem.</p>
        <p class="disclaimer">- Wszystkie nazwy, adresy oraz zawartość są wymyślone lub przedstawione w kontekście edukacyjnym.</p>
        <p class="disclaimer">- Jakiekolwiek podobieństwo do rzeczywistych stron, osób czy zdarzeń jest przypadkowe i niezamierzone.</p>
        <div class="idc-i-just-want-to-center-a-div">
            <Login>
                <Icon icon="./pfp.png"/>
                <div>
                    <p>Admin</p>
                    <Prompt id="login" password="admin" destination="os.html"/>
                </div>
            </Login>
        </div>
    </Desktop>
</Main>

