---
import Main from '../layouts/main.astro'
import Desktop from '../layouts/desktop.astro';
import Taskbar from '../layouts/taskbar.astro';
import Window from '../layouts/window.astro';
import Shortcut from '../components/desktop_shortcut.astro';
import Tab from '../components/taskbar_tab.astro';
---

<Main>
    <Desktop>
        <Shortcut name="Mango" id="Mango" img="./wallpaper.png"/>
        <Shortcut name="Banan" img="./test.jpeg"/>
        <Shortcut name="Ogór" img="./test.jpeg"/>

        <Window title="Okno testowe" id="win">
            <h1>XD</h1>
        </Window>

    </Desktop>

    <Taskbar>
        <Tab name="WEEE" img="./test.jpeg"/>
        <Tab name="EO" img="./test.jpeg"/>
    </Taskbar>
</Main>

<script>
    const window = document.getElementById("win");

    window?.addEventListener("mousedown", start_drag);
    window?.addEventListener("mouseup", stop_drag);

    function start_drag() {
        console.log("START DRAG");
    }

    function stop_drag() {
        console.log("STOP DRAG");
    }
</script>
