---
import Main from '../layouts/main.astro'
import Desktop from '../layouts/desktop.astro';
import Login from '../layouts/login_window.astro';
import Icon from '../components/user_icon.astro';
import Prompt from '../components/pasword_prompt.astro';
---

<Main>
    <Desktop>
        <div class="idc-i-just-want-to-center-a-div">
            <Login>
                <Icon icon="./test.jpeg"/>
                <div>
                    <p>User</p>
                    <Prompt id="login" password="ae" destination="os.html"/>
                </div>
            </Login>
        </div>
    </Desktop>
</Main>

