<div class="webbrowser">
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button>Przycisk!</button>
    <button id="v">Przycisk!</button>
</div>

<script>
    let btn = document.getElementById("v");
</script>
