---
---

<html lang="pl">
	<head>
		<meta charset="utf-8" />
        <link rel="stylesheet" href="/src/styles/global.css"/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>OS</title>
    </head>
    <body>
        <slot/>
	</body>
</html>
