@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes slideInBtm {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
