$background: #000000;
$text: #ffffff;
$accent: #b6042a;
$bg1: #200000;

// web browser colors

$web-red: #d20f39;
$web-orange: #fe640b;
$web-yellow: #df8e1d;
$web-green: #40a02b;
$web-blue: #1e66f5;
$web-purple: #8839ef;
$web-pink: #ea76cb;

$web-background: #eff1f5;
$web-bg1: #ccd0da;
$web-text: #4c4f69;
$web-link: $web-blue;
