.desktop {
    background-image: url(/wallpaper.png);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    z-index: 0;
    &-shortcut {
        cursor: pointer;
        text-align: center;
        margin: 15px;
        margin-bottom: 32px;
        &-text {
            user-select: none;
        }
        &-img {
            height: 32px;
            width: 32px;
        }
    }
}
