.desktop {
    background: url(/wallpaper.png) no-repeat center center/cover;
    color: $text;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    z-index: 0;

    &-shortcut {
        cursor: pointer;
        text-align: center;
        margin: 15px 15px 32px;
        &-text {
            user-select: none;
        }
        &-img {
            height: 32px;
            width: 32px;
            transition: transform 0.3s ease;
            &:hover {
                transform: scale(1.15);
            }
        }
    }
}

