.webbrowser {
    color: $web-text;
    height: 100%;
    padding: 2px;
    margin: 0px 10px;
    & > h1 {
        color: $web-red;
    }
    & > h2 {
        color: $web-orange;
    }
    & > h3 {
        color: $web-yellow;
    }
    & > h4 {
        color: $web-green;
    }
    & > h5 {
        color: $web-blue;
    }
    & > h6 {
        color: $web-purple;
    }
    & > p {
        color: $web-text;
    }
}
.link {
    &-name {
        color: $web-link;
    }
    &-desc {
        color: $web-text;
    }
}
.error {
    color: $web-red;
}
.warning {
    color: $web-yellow;
}
.info {
    color: $web-green;
}
