.window {
    position: absolute;
    background-color: $web-background;
    z-index: 2;
    top: 20vh;
    left: 30vw;
    width: 640px;
    height: 480px;
    border-bottom-left-radius: 15px 125px;
    border-bottom-right-radius: 155px 15px;
    border: 2px solid $accent;
    &-bar {
        padding: 0px 10px;
        user-select: none;
        color: $text;
        background-color: $accent;
        height: 32px;
        cursor: move;
        display: flex;
        align-items: center;
        &-close {
            background-color: #330000;
            padding: 2px 8px;
            border-top-left-radius: 15px 125px;
            border-top-right-radius: 155px 15px;
            border-bottom-left-radius: 15px 125px;
            border-bottom-right-radius: 155px 15px;
            transition: transform 0.3s ease;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}
