---
import Link from '../../components/link.astro';
---

<div class="webbrowser">
    <h1>The Hidden wiki</h1>
    <Link id="forum" name="Cebulka" desc="Najwieksze polskie forum w darkwebie"></Link>
    <Link id="library" name="Library Genesis" desc="Najwieksza biblioteka w sieci tor"></Link>
    <Link id="securedrop" name="SecureDrop" desc="Anonimowe forum dla dziennikarzy"></Link>
    <Link id="daytoday" name="0day.today" desc="Exploity i podatnosci"></Link>
    <Link id="cia" name="CIA" desc="CIA"></Link>
</div>

<style>
    h1 {
        color: #000000;
    }
</style>
