---
const { id, password, destination } = Astro.props;
---
<div class="password-prompt">
    <input id={id} type="text"/>
    <button id={`${id}-btn`}>></button>
</div>

<script define:vars={{ id, password, destination }}>
    document.getElementById(`${id}-btn`).addEventListener("click", check_password);

    function check_password() {
        input = document.getElementById(id).value
        console.log(input)
        if( input == password ) {
            window.location.href = destination;
        }
    }
</script>
